* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 450px;
  font-family: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

.title h5 {
  font-size: 18px;
}

.msg {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.danger {
  color: red;
}

.success {
  color: rgb(1, 255, 1);
}

.copy {
  font-size: 16px;
}

.dark-mode {
  background-color: #121212;
  color: white;
}

.root {
  min-width: 450px;
}

.title {
  text-align: center;
  padding: 4px 0;
}

.inputs {
  padding: 4px 0;
  display: flex;
  justify-content: space-around;
}

#key {
  width: 100px;
}

#value {
  width: 300px;
}

.inputs input {
  border-radius: 4px;
  font-size: 20px;
  padding: 4px;
  border: 2px solid black;
}

.inputs input:focus {
  outline: none;
  background-color: rgb(245, 245, 245);
}

/* buttons styling */

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  margin: 4px 4px;
  font-size: 18px;
  padding: 2px 4px;
  border-radius: 2px;
  border: none;
  color: white;
  height: 24px;
}

.buttons button:hover {
  cursor: pointer;
}

.save-btn, .save-tab-btn {
  background-color: blue;
}

.delete-btn {
  background-color: red;
}

/* buttons styling end */

.data {
  margin: 8px 0;
}

.key-value {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.my-key {
  min-width: 100px;
  max-width: 100px;
}

.my-value {
  min-width: 300px;
  max-width: 300px;
}

.key-value .my-key,
.key-value .my-value {
  text-align: center;
  margin: 4px 4px;
  background-color: #413f45;
  padding: 2px 6px;
  border-radius: 20px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.key-value .my-key:hover,
.key-value .my-value:hover {
  cursor: pointer;
  background-color: #313034;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #e7e7e7;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 2px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: 54px;
  bottom: 24px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #e7e7e7 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.copy {
  text-align: center;
  margin-top: 2px;
}

footer {
  text-align: center;
  margin-top: 16px;
  padding-bottom: 6px;
  font-size: 14px;
}

footer .heart-icon {
  color: red;
}

footer a {
  color: blue;
  text-decoration: none;
}

footer a:visited {
  color: blue;
}

/* #121212 */